.split, .gutter.gutter-horizontal {
  float: left;
}
.gutter.gutter-horizontal {
  cursor: ew-resize;
  background-color: rgb(128, 128, 128);
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.editor-navbar {
  height: 6%;
}
#toolbar > button {
  font-size: 2.3vh;
}

#editor-panel {
  height: 93%;
}
.editor {
  padding: 1rem;
  font-size: 1rem;
  box-shadow: 0px 0px 10px 0px black;
  border: 0.5px solid black;
  min-height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  min-width: 100%;
  word-break: break-all;
}
.editor:focus {
  box-shadow: 0px 0px 20px 0px black;
  border: 1.5px solid grey;
}
.editor h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
.editor h2 {
  font-size: 1.3rem;
  font-weight: bold;
}
.editor h3 {
  font-size: 1.2rem;
  font-weight: bold;
}
.editor h4 {
  font-size: 1.1rem;
  font-weight: bold;
}
.editor h5, h6 {
  font-size: 1rem;
  font-weight: bold;
}

.reference-editor {
  padding: 1rem;
  font-size: 1rem;
  border: 0.5px solid black;
  overflow-y: auto;
  min-height: 100%;
}

.modal-example-table * {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.editor th {
  background-color: rgba(220, 220, 220, 0.7);
}
.editor td {
  min-width: 30px;
}

reference > * {
  pointer-events: none;
}
table > * {
  pointer-events: none;
}
equation > * {
  pointer-events: none;
}
.reference-highlight {
  outline: 2px groove orange;
}
.unfounded-reference-highlight {
  outline: 1px solid red;
}

.block-container > * {
  pointer-events: none;
}
.block-container {
  cursor: pointer;
}
.block-container:hover {
  background-color: lightblue;
  border-radius: 5px;
}
.block-highlight {
  background-color: lightblue;
  border-radius: 8px;
}

.display-equation {
  text-align: center;
}

.image-container {
  position: relative;
  touch-action: none;
  display: inline-block;
}

.image-container:hover:before, .image-container:active:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -5px;
  right: -5px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.disable-select {
  user-select: none;
}

#tree-panel {
  min-width: 15vw;
  max-width: 15vw;
  min-height: 100vh;

}
#tree {
  background-color: rgb(247, 247, 247);
}
#tree-panel.hide{
  margin-left: -16vw;
}

#pin-icon {
  transform: rotate(90deg);
}
#pin-icon.pinned {
  transform: rotate(0deg);
}

a.anchor-link {
  font-size: 0.9rem;
  color: #000000;
  text-decoration:none;
  transition: transform .3s;
}

a.anchor-link:hover {
  font-weight:bold;
}

/* Remove default bullets */
ul#tree{
  list-style-type: none;
  height: 80%;
  overflow-x: hidden;
}

/* Style the caret/arrow */
.caret {
  user-select: none; /* Prevent text selection */
}

/* Change icon to plus sign */
.caret::before {
  content: "\FF0B";
  display: inline-block;
  margin-right: 0.3rem;
}

/* Change icon to minus sign */
.caret-down::before {
  content:"\2212";
}

/* Hide the nested list */
.nested {
  padding-left: 20px;
  display: none;
}

/* Show the nested list when the user clicks on the caret */
.nested.active {
  display: block;
}
