html, body  {
    height: 100%;
}

button > * {
    pointer-events: none;
}

.editor{
    padding: 1rem;
    font-size: 1.2rem;
    box-shadow: 0 .1rem .4rem black;
    border: 1px solid black;
    overflow-y: auto;
}